* {
	box-sizing: border-box;
  }
  .container {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
  }
  h1 {
	font-size: 1.5rem;
  }
  h2 {
	font-size: 1.5rem;
  }
  p {
	margin: 20px 0;
	line-height: 1.25;
  }
  .home header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
  }
  .home header nav {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
  }
  .accordion .panel {
	padding: 30px;
	border: 1px solid gray;
  }
  .accordion .panel .panel-bar {
	display: flex;
	justify-content: space-between;
  }
  .accordion .panel .panel-bar .panel-buttons button {
	cursor: pointer;
  }
  .accordion .panel .panel-bar .panel-buttons .hide-btn {
	display: none;
  }
  .accordion .panel .panel-content {
	display: none;
  }
  .accordion .panel .toggle-on {
	display: block;
  }
  